body {
    background-color: #f8f9fa;
}

.table th {
    background-color: #007bff;
    color: white;
}

.table td {
    vertical-align: middle;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

.custom-btn {
    background-color: #0069d9;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #0056b3;
    color: #fff;
}
.custom-btn-logout {
    color: rgb(205, 34, 34);
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}